#friendlist-title {

    padding-left: 5%;
    padding-top: 5%;
    padding-bottom: 3%;
}

.card {
    margin-bottom: 20px;
    width: 100%;
}

.chat-button{


    background-color: #FF2442 !important;
}

#profile-button{
    color: black;
    background-color: #FFB830 !important;
}