 /* Style the button that is used to open and close the collapsible content */
.collapsible {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .collapsible:hover {
  background-color: #ccc;
}

/* Style the collapsible content. Note: hidden by default */
.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}

#index-button-text{

    color: black;
}

#nav-button-text{

    color: black;
}

#index-title{

    font-weight: 700;
    font-size: 1.875rem;
    line-height: 2.25rem;
    color: black;
}

#index-cover{

    border-radius: 25px;
    padding-bottom: 15px !important;
}

#index-body{

    margin-bottom: 15px !important;
    margin-top: 15px !important;
}

.index-bio{

    padding-top: 0 !important;
    padding-bottom: 0 !important;

}

#bio-title{

    text-align: center;
}