/* Undecided colors - vote on Friday March 4th */


.header-color {

    background-color: #3DB2FF;
}

.button-color {

    background-color: #ED2939;
}

body {

    background-color: #FFEDDA;
}

.footer {

    background-color: #FFEDDA;
}