/* Make new CSS style page for logged and non-logged pages */

h1 {

     color: black !important;
}

p {

    color: black !important;
}

.header-color {
    box-shadow: none !important;
    background-color: #3DB2FF;
}

#logo-text-logged{

    color: #fff !important;
    text-decoration: none;
}

#logo-text-logged:hover{

    color: #fff !important;
    text-decoration: none !important;
}

#logo-text{

    color: #fff !important;
    text-decoration: none !important;
}


#logo-text:hover{

    color: #fff !important;
    text-decoration: none !important;
}

.button-color {

    background-color: #ED2939 !important;
}

.btn-outline-light:hover {

        background-color: #f80c35 !important;
}

body {

    background-color: #FFEDDA !important;
}

.footer {

    background-color: #FFEDDA !important;
}

.nav-link{

    text-align: center !important;
}

.navbar-link{

    color: black !important;
}


.mdl-layout__content {

   background-color: #FFEDDA !important;
}

.mdl-color--grey-100 {

    background-color: #FFEDDA !important;
}


.body-padding-top{

    padding-top: 100px;
}