.padding-top{


    padding-top: 25px !important;
}

.read-more{

    background-color: #f4830f !important;
}

#profile-button {

    background-color: #f4830f !important;

}

.chat-button a{

    color: white !important;
}